<%= form_for(@pessoa, html: { class: 'form-horizontal' }) do |f| %>
  <%#= render 'layouts/error_messages', model_name: @pessoa %>
  <%= render 'layouts/message_required' %>
  <div class="form-group">
    <div class="col-sm-8">
      <%= f.label :nome, class: 'required' %>
      <%= f.text_field :nome, class: 'form-control'  %>
    </div>
    <div class="col-sm-2">
      <%= f.label :data_contratacao %>
      <%= f.text_field :data_contratacao,  class:'form-control datepicker'%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5">
      <%= f.label :cpf, class: 'required' %> <span id="val_cpf" class="validador"></span>
      <%= f.text_field :cpf, class: 'form-control maskcpf'  %>
    </div>
    <div class="col-sm-5">
      <%= f.label :email_pessoal %> <span id="val_email_pessoal" class="validador"></span>
      <%= f.email_field :email_pessoal, class: 'form-control' %>
    </div>
  </div>
  <h2>Dados Pessoais</h2>
  <div class="form-group">
    <div class="col-sm-5">
      <%= f.label :nome_pai %>
      <%= f.text_field :nome_pai, class: 'form-control'  %>
    </div>
    <div class="col-sm-5">
    <%= f.label :nome_mae %>
    <%= f.text_field :nome_mae, class: 'form-control'  %>
  </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <%= f.label :estado_civil %>
      <%= f.select :estado_civil, Pessoa.estado_civil, { prompt: 'Selecione' }, class: 'form-control' %>
    </div>
    <div class="col-sm-6">
      <%= f.label :conjuge %>
      <%= f.text_field :conjuge, class: 'form-control'  %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5">
      <%= f.label :profissao %>
      <%= f.text_field :profissao, class: 'form-control'  %>
    </div>
    <div class="col-sm-5">
      <%= f.label :data_nascimento %>
      <%= f.text_field :data_nascimento,  class:'form-control datepicker'%>
    </div>
  </div>  

  <div class="form-group"> 
    <div class="col-sm-5">
      <%= f.label :naturalidade %>
      <%= f.text_field :naturalidade, class: 'form-control'  %>
    </div>
    <div class="col-sm-5">
      <%= f.label :uf %>
      <%= f.select :uf, Pessoa.estados, { prompt: 'Selecione' }, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-5">
      <%= f.label :tipo_sanguineo %>
      <%= f.select :tipo_sanguineo, Pessoa.tipo_sanguineo, { prompt: 'Selecione' }, class: 'form-control' %>
    </div>
    <div class="col-sm-5">
      <%= f.label :sexo, class: 'required'%>
      <%= f.select :sexo, Pessoa.opcoes_sexo, { prompt: 'Selecione' }, class: 'form-control' %>
    </div>
  </div>
  
  <h2>Endereço Residencial</h2>
  <div class="form-group">
    <div class="col-sm-8">
      <%= f.label :rua %>
      <%= f.text_field :rua, class: 'form-control'  %>
    </div>
    <div class="col-sm-2">
      <%= f.label :numero %>
      <%= f.text_field :numero, class: 'form-control'  %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5">
      <%= f.label :complemento %>
      <%= f.text_field :complemento, class: 'form-control'  %>
    </div>
    <div class="col-sm-5">
      <%= f.label :bairro %>
      <%= f.text_field :bairro, class: 'form-control'  %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5">
      <%= f.label :cidade %>
      <%= f.text_field :cidade, class: 'form-control'  %>
    </div>
    <div class="col-sm-5">
      <%= f.label :estado %>
      <%= f.select :estado, Pessoa.estados, { prompt: 'Selecione' }, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5">
      <%= f.label :telefone %>
      <%= f.text_field :telefone, class: 'form-control'  %>
    </div>
    <div class="col-sm-5">
      <%= f.label :celular %>
      <%= f.text_field :celular, class: 'form-control'  %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-3">
      <%= f.label :cep %>
      <%= f.text_field :cep, class: 'form-control'  %>
    </div>
  </div>

  <h2>Documentos Pessoais</h2>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.label :pis %>
      <%= f.text_field :pis, class: 'form-control'  %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5">
      <%= f.label :ctps %>
      <%= f.text_field :ctps, class: 'form-control'  %>
    </div>
    <div class="col-sm-5">
      <%= f.label :serie %>
      <%= f.text_field :serie, class: 'form-control'  %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6">
      <%= f.label :rg %>
      <%= f.text_field :rg, class: 'form-control'  %>
    </div>
    <div class="col-sm-2">
      <%= f.label :emissor %>
      <%= f.text_field :emissor, class: 'form-control'  %>
    </div>
    <div class="col-sm-2">
      <%= f.label :emissao %>
      <%= f.text_field :emissao,  class:'form-control datepicker'%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5">
      <%= f.label :certificado_militar %>
      <%= f.text_field :certificado_militar, class: 'form-control'  %>
    </div>
    <div class="col-sm-5">
      <%= f.label :emissor_militar %>
      <%= f.text_field :emissor_militar, class: 'form-control'  %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6">
      <%= f.label :titulo_eleitoral %>
      <%= f.text_field :titulo_eleitoral, class: 'form-control'  %>
    </div>
    <div class="col-sm-2">
      <%= f.label :zona %>
      <%= f.text_field :zona, class: 'form-control'  %>
    </div>
    <div class="col-sm-2">
      <%= f.label :secao %>
      <%= f.text_field :secao, class: 'form-control'  %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6">
      <%= f.label :cidade_eleitoral %>
      <%= f.text_field :cidade_eleitoral, class: 'form-control'  %>
    </div>
    <div class="col-sm-4">
      <%= f.label :estado_eleitoral %>
      <%= f.select :estado_eleitoral, Pessoa.estados, { prompt: 'Selecione' }, class: 'form-control' %>
    </div>
  </div>

  <h2>Conta Bancária</h2>
  <div class="form-group">
    <div class="col-sm-6">
      <%= f.label :banco %>
      <%= f.text_field :banco, class: 'form-control'  %>
    </div>
    <div class="col-sm-2">
      <%= f.label :agencia %>
      <%= f.text_field :agencia, class: 'form-control'  %>
    </div>
    <div class="col-sm-2">
      <%= f.label :conta_corrente %>
      <%= f.text_field :conta_corrente, class: 'form-control'  %>
    </div>
  </div>



  <div class="form-group">
    <div class="col-sm-12">
      <%= f.submit nil, class: 'btn btn-primary', data: { disable_with: disable_with } %>
      <%= link_to I18n.t('helpers.links.cancel'), pessoas_path, class: 'btn btn-warning' %>
    </div>
  </div>
  

  
<% end %>