<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h5 class="panel-title">
        <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEnderecos" aria-expanded="true" aria-controls="collapseEnderecos">
          Endereços
        </a>
      </h5>
    </div>
    <div id="collapseEnderecos" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <%= link_to_new new_socioeduk_jovem_endereco_path(@socioeduk_jovem), remote: true %>
        <%= render template: 'socioeduk/enderecos/index', locals: { socioeduk_enderecos: @socioeduk_jovem.enderecos } %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h5 class="panel-title">
        <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseContatos" aria-expanded="false" aria-controls="collapseContatos">
          Contatos
        </a>
      </h5>
    </div>
    <div id="collapseContatos" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <%= link_to_new new_socioeduk_jovem_contato_path(@socioeduk_jovem), remote: true %>
        <%= render template: 'socioeduk/contatos/index', locals: { socioeduk_contatos: @socioeduk_jovem.contatos } %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h5 class="panel-title">
        <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDocumentos" aria-expanded="false" aria-controls="collapseDocumentos">
          Documentos
        </a>
      </h5>
    </div>
    <div id="collapseDocumentos" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <%= link_to_new new_socioeduk_jovem_documento_path(@socioeduk_jovem), remote: true %>
        <%= render template: 'socioeduk/documentos/index', locals: { socioeduk_documentos: @socioeduk_jovem.documentos } %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h5 class="panel-title">
        <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseMarcas" aria-expanded="false" aria-controls="collapseMarcas">
          Marcas Corporais
        </a>
      </h5>
    </div>
    <div id="collapseMarcas" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h5 class="panel-title">
        <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDeficiencias" aria-expanded="false" aria-controls="collapseDeficiencias">
          Deficiências
        </a>
      </h5>
    </div>
    <div id="collapseDeficiencias" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h5 class="panel-title">
        <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAtendimentos" aria-expanded="false" aria-controls="collapseAtendimentos">
          Atendimento Inicial
        </a>
      </h5>
    </div>
    <div id="collapseAtendimentos" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h5 class="panel-title">
        <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAdmissoes" aria-expanded="false" aria-controls="collapseAdmissoes">
          Admissões
        </a>
      </h5>
    </div>
    <div id="collapseAdmissoes" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">

      </div>
    </div>
  </div>
</div>
