<%= form_for(@unidade_socioeducativa, html: { class: 'form-horizontal' }) do |f| %>
  <%#= render 'layouts/error_messages', model_name: @unidade_socioeducativa %>
  <%= render 'layouts/message_required' %>
  <div class="form-group">
    <div class="col-sm-8">
      <%= f.label :nome, class: 'required' %>
      <%= f.text_field :nome, class: 'form-control'  %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-8">
      <%= f.label :sigla, class: 'required' %>
      <%= f.text_field :sigla, class: 'form-control'  %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-8">
      <%= f.label :endereco, class: '' %>
      <%= f.text_field :endereco, class: 'form-control'  %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.submit nil, class: 'btn btn-primary', data: { disable_with: disable_with } %>
      <%= link_to I18n.t('helpers.links.cancel'), unidades_socioeducativas_path, class: 'btn' %>
    </div>
  </div>
<% end %>
